<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AndroidIconics.Xamarin.Droid" version="2.7.0.1" targetFramework="monoandroid50" />
  <package id="FastAdapter.Xamarin.Droid" version="1.6.0.2" targetFramework="monoandroid50" />
  <package id="HtmlAgilityPack" version="1.8.5" targetFramework="monoandroid81" />
  <package id="MaterialDrawer.Xamarin.Droid" version="5.3.6.2" targetFramework="monoandroid50" />
  <package id="Materialize.Xamarin.Droid" version="0.9.0.2" targetFramework="monoandroid50" />
  <package id="Microsoft.AppCenter" version="1.7.0" targetFramework="monoandroid81" />
  <package id="Microsoft.AppCenter.Analytics" version="1.7.0" targetFramework="monoandroid81" />
  <package id="Microsoft.AppCenter.Crashes" version="1.7.0" targetFramework="monoandroid81" />
  <package id="modernhttpclient-updated" version="2.7.2" targetFramework="monoandroid81" />
  <package id="MvvmLightLibsStd10" version="5.4.1" targetFramework="monoandroid81" />
  <package id="Square.OkHttp3" version="3.8.1" targetFramework="monoandroid81" />
  <package id="Square.OkIO" version="1.13.0" targetFramework="monoandroid81" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="monoandroid80" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Xml.XPath.XmlDocument" version="4.3.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.0.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.0.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Annotations" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Compat" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.UI" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.Utils" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Design" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Exif" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Fragment" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Media.Compat" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Transition" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v13" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v4" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Build.Download" version="0.4.10" targetFramework="monoandroid81" />
  <package id="Xamarin.FFImageLoading" version="2.4.3.840" targetFramework="monoandroid81" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.4.3.840" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Ads.Lite" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Basement" version="60.1142.1" targetFramework="monoandroid81" />
</packages>