<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AndroidIconics.Xamarin.Droid" version="2.7.0.1" targetFramework="monoandroid50" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="monoandroid60" />
  <package id="FastAdapter.Xamarin.Droid" version="1.6.0.2" targetFramework="monoandroid50" />
  <package id="HockeySDK.Xamarin" version="4.1.5" targetFramework="monoandroid71" />
  <package id="MaterialDrawer.Xamarin.Droid" version="5.3.6.2" targetFramework="monoandroid50" />
  <package id="Materialize.Xamarin.Droid" version="0.9.0.2" targetFramework="monoandroid50" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="monoandroid71" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="monoandroid60" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.4.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Annotations" version="25.4.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.4.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.4.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.4.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="25.4.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="25.4.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.4.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Transition" version="25.4.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v13" version="25.4.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="25.4.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.4.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.4.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.4.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Build.Download" version="0.4.6" targetFramework="monoandroid71" />
  <package id="Xamarin.FFImageLoading" version="2.2.9" targetFramework="monoandroid71" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.2.9" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Ads.Lite" version="42.1021.1" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Basement" version="42.1021.1" targetFramework="monoandroid71" />
</packages>