# General Android
-dontwarn org.apache.http.**
-dontwarn android.net.http.AndroidHttpClient

# Android Support Library
-keep class android.support.multidex.MultiDexApplication
-keep class android.support.v4.**
-keep class android.support.v7.** {
    public *;
}
-keep class android.support.design.widget.** { *; }
-keep interface android.support.design.widget.** { *; }

# Google Play Billing
-keep class com.android.vending.billing.**

# Google Play Services
-keep class com.google.android.gms.** { *; }
-dontwarn com.google.android.gms.**
-keep class * extends java.util.ListResourceBundle {
    protected java.lang.Object[][] getContents();
}


-dontwarn okio.**
-dontwarn com.mikepenz.**