<?xml version="1.0" encoding="utf-8"?>

<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>WApplicationId</Key>
            <Value>b93a02e8-e1cf-47e6-b537-59056cd360bf</Value>
          </Property>
          <Property>
            <Key>WAdUnitId</Key>
            <Value>291955</Value>
          </Property>
          <Property>
            <Key>WWidth</Key>
            <Value>300</Value>
          </Property>
          <Property>
            <Key>WHeight</Key>
            <Value>250</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>06806acb-a100-4bde-a4ae-76e6bf96a447</Value>
          </Property>
          <Property>
            <Key>MAdUnitId</Key>
            <Value>291957</Value>
          </Property>
          <Property>
            <Key>MWidth</Key>
            <Value>480</Value>
          </Property>
          <Property>
            <Key>MHeight</Key>
            <Value>80</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Rank>1</Rank>
        <Timeout>15000</Timeout>
        <Weight>100</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>IsHouse</Key>
            <Value>true</Value>
          </Property>
          <Property>
            <Key>WApplicationId</Key>
            <Value>b93a02e8-e1cf-47e6-b537-59056cd360bf</Value>
          </Property>
          <Property>
            <Key>WAdUnitId</Key>
            <Value>291956</Value>
          </Property>
          <Property>
            <Key>WWidth</Key>
            <Value>300</Value>
          </Property>
          <Property>
            <Key>WHeight</Key>
            <Value>250</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>06806acb-a100-4bde-a4ae-76e6bf96a447</Value>
          </Property>
          <Property>
            <Key>MAdUnitId</Key>
            <Value>291958</Value>
          </Property>
          <Property>
            <Key>MWidth</Key>
            <Value>480</Value>
          </Property>
          <Property>
            <Key>MHeight</Key>
            <Value>80</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertisingHouse</Name>
        <Rank>-1</Rank>
        <Timeout>15000</Timeout>
        <Weight>-20</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations />
    <RotationAlgorithm>Ratio</RotationAlgorithm>
  </BaseConfiguration>
  <CdnUriFormat>https://admediatorcdn.windowsphone.com/public/D26U39dS+qOGbMtwNGbYmpZosf3MFRp5fHp7DRTJhCc=/{0}.config</CdnUriFormat>
  <ConfigId>D26U39dS+qOGbMtwNGbYmpZosf3MFRp5fHp7DRTJhCc=</ConfigId>
  <FileVersion>1.0.1</FileVersion>
  <RefreshRate>30</RefreshRate>
  <SchemaVersion>2.0.1</SchemaVersion>
  <UpdatedDateTime>2016-04-01T18:00:42.159289Z</UpdatedDateTime>
</AdMediatorConfiguration>